/*
=============== 
Variables
===============
*/

:root {
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(125, 61%, 16%);
  --clr-grey-2: hsl(125, 39%, 23%);
  --clr-grey-3: hsl(125, 34%, 30%);
  --clr-grey-4: hsl(125, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(125, 22%, 49%);
  --clr-grey-6: hsl(125, 23%, 60%);
  --clr-grey-7: hsl(125, 27%, 70%);
  --clr-grey-8: hsl(125, 31%, 80%);
  --clr-grey-9: hsl(125, 33%, 89%);
  --clr-grey-10: hsl(125, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-ultradark: hsl(125, 80%, 28%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 50%, 70%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: disc;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*-----------*/
/*  Buttons  */
/*-----------*/

.btn-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

button.active {
  color: var(--clr-white);
  background-color: var(--clr-green-dark);
}

.random-btn-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--clr-green-light);
  display: flex;
  align-items: center;
}

.btn {
  background-color: var(--clr-green-ultradark);
  color: var(--clr-white);
  display: block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  margin: 1rem auto;
  width: fit-content;
}
.btn:hover {
  background-color: var(--clr-green-ultradark);
}

.btn-menu {
  color: var(--clr-green-dark);
  background-color: var(--clr-grey-10);
  margin: 0 0.5rem;
  height: 2rem;
}

/*---------*/
/* Section */
/*---------*/

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*-----------*/
/* Container */
/*-----------*/

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.recipe-container {
  width: 90vw;
  max-width: 730px;
  background: var(--clr-white);
  margin: 0 auto 3rem auto;
  border-radius: var(--radius);
  position: relative;
  text-align: center;
  padding: 1.5rem;
}

.recipe-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: var(--clr-grey-9);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.recipe-img-container {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  border-radius: var(--radius);
}

.recipe-img {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 2rem;
}

.recipe-title {
  margin: 2rem 0;
}

.link-title {
  font-size: 2.3rem;
  margin-bottom: 0;
}
.recipe-text {
  color: var(--clr-grey-1);
  font-size: 1.25rem;
  line-height: 1.8;
  text-align: left;
  padding: 2rem;
}

ol > li {
  margin: 1.5rem 0;
}

ol > li::marker {
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  .recipe-value {
    font-size: 38px;
  }
  .icon {
    font-size: 2rem;
  }
}
