.countdown__container {
  height: 100vh;
  width: 100vw;
  background-color: $clr-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;

  .countdown__grid-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 23vw);
    border: 0.01rem solid $clr-white;

    .countdown__cell {
      overflow: hidden;
      padding: 7rem 1rem 2rem 1rem;
      border: 0.01rem solid $clr-white;
      height: 23vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        font-size: 21rem;
        letter-spacing: -0.5rem;
        font-weight: 100;
        text-align: center;
        color: $clr-white;
      }

      h4 {
        font-weight: 100;
        color: $clr-white;
        text-align: center;
      }
    }
  }
}

/* ======== */
/*   FORM   */
/* ======== */

.form__container {
  width: 100%;
  background-color: $clr-black;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form__title__container {
    width: 100%;
    margin: 2rem 0;

    h1 {
      text-align: center;
      color: $clr-white;
      font-weight: 100;
      line-height: 0.8;
    }
  }

  .form {
    width: 20rem;
    height: 20rem;
    display: block;

    .input__group {
      position: relative;
      width: 100%;
      margin: 1rem 0;
      padding: 0.3rem;
      background-color: $clr-white;

      label {
        width: 100%;
        text-transform: uppercase;
        font-weight: 300;
        color: $clr-black;
      }

      input {
        resize: none;
        height: 4rem;
        width: 100%;
        background: transparent;
        border: 0;
        outline: 0;
        padding: 1rem 0;
        border-bottom: 1px solid $clr-light-grey;
        color: $clr-black;
      }

      span {
        color: $clr-black;
        margin: 0;
        position: absolute;
        right: 0.3rem;
        top: 1rem;
      }
    }

    .form__btn {
      background: $clr-white;
      color: $clr-black;
      outline: 0;
      width: 100%;
      height: 4rem;
      margin: 2rem auto;
      border: 1px solid $clr-black;
      border-radius: 3rem;
      cursor: pointer;

      p {
        color: $clr-black;
        font-weight: 100;
        margin: 0;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    .form__container {
      height: 41rem;

      .form__title__container {
        display: block;
        width: 30rem;
        h3 {
          line-height: 1;
        }
      }

      .form {
        width: 65%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0 0 0rem;

        .input__group {
          position: relative;
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-items: center;
          margin: 1rem 0;
          position: relative;

          > label {
            width: 100%;
            text-transform: uppercase;
          }
          input {
            padding: 0.5rem 0;
            color: $clr-black;
          }

          > span {
            position: absolute;
            right: 0;
            color: $clr-medium-grey;
            font-weight: 300;
            font-size: 1.4rem;
          }

          .error__message {
            bottom: 0;
          }
        }

        .form__btn {
          position: relative;
          border: 1px solid $clr-black;
          width: 17rem;

          p {
            color: $clr-black;
            font-weight: 100;
            margin: 0;
          }
        }
      }
      #error__submit {
        color: red;
        font-weight: 300;
      }
    }
  }
}
