/*
=============== 
Variables
===============
*/

@import "../../styles/variables";

/* Orange */
$clr-orange-1: hsl(34, 61%, 16%);
$clr-orange-2: hsl(34, 39%, 23%);
$clr-orange-3: hsl(34, 34%, 30%);
$clr-orange-4: hsl(34, 28%, 39%);
$clr-orange-5: hsl(34, 91%, 46%);
$clr-orange-6: hsl(34, 23%, 60%);
$clr-orange-7: hsl(34, 27%, 70%);
$clr-orange-8: hsl(34, 31%, 80%);
$clr-orange-9: hsl(34, 33%, 89%);
$clr-orange-10: hsl(34, 36%, 96%);

/*
=============== 
Pagination
===============
*/

.pagination-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.pagination-section-title {
  width: 90%;
  max-width: $max-width;
  text-align: left;
  align-self: flex-start;
  margin: 3rem auto 0 auto;
}

.pagination-followers-container {
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}
.pagination-container {
  min-width: 100%;
  display: grid;
  gap: 1px;
  margin-bottom: 2rem;
  background-color: $clr-black;
  border: 1px solid $clr-black;
}
@media screen and (min-width: 576px) {
  .pagination-container {
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: repeat(3, 1fr);
  }
}
.pagination-card {
  background: $clr-white;
  padding: 1.5rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pagination-img-container {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.75rem;
  overflow: hidden;

  &::before {
    content: "";
    opacity: 15%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background: $clr-black;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pagination-card h4 {
  margin-top: 1.5rem;
  font-size: 0.85rem;
}

.pagination-btn {
  padding: 0.35rem 0.75rem;
  letter-spacing: 1.6px;
  font-size: 0.75rem;
  color: $clr-white;
  background-color: $clr-black;
  border: 1px solid $clr-black;
  border-color: transparent;
  text-transform: uppercase;
  transition: $transition;
  cursor: pointer;
  height: fit-content;
}

.pagination-btn:hover {
  background-color: $clr-white;
  color: $clr-black;
  border: 1px solid $clr-black;
}

.pagination-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.pagination-page-btn {
  width: 1.3rem;
  height: 1.3rem;
  background-color: $clr-white;
  color: $clr-black;
  border: 1px solid $clr-black;
  cursor: pointer;
  margin: 0.2rem;

  transition: $transition;
}
.pagination-active-btn {
  background-color: $clr-black;
  color: $clr-white;
}
.pagination-prev-btn,
.pagination-next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: $spacing;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 775px) {
  .pagination-btn-container {
    margin: 0 auto;
    max-width: 700px;
  }
  .pagination-page-btn {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.5rem;
  }
}
