.infinite-container {
  display: flex;
  flex-direction: column;
}
.infinite-search {
  padding: 2rem 0 0 0;
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.infinite-search-form {
  display: flex;

  input {
    border: solid 1px $clr-black;
  }
}
.infinite-search-field {
  width: 100%;
  color: var(--clr-black);
  &::placeholder {
    color: var(--clr-black);
  }
}
.infinite-search-field,
.infinite-submit-btn {
  padding: 0.75rem 1.25rem;
  border: none;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  background-color: $clr-white;
  border-bottom: 1px solid var(--clr-black);
}

.infinite-submit-btn {
  cursor: pointer;
  color: $clr-white;
  transition: $transition;
  .infinite-btn-container {
    background-color: $clr-black;
    border: 1px solid $clr-black;
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;
  }
  :hover {
    background-color: $clr-white;
    color: $clr-black;
    transition: $transition;
  }
}

.infinite-photos {
  padding: 2rem 0;
}
.infinite-photos-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}
.infinite-photo {
  height: 25rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.infinite-photo > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.infinite-photo h5 {
  font-weight: 200;
  margin-bottom: 0.5rem;
  color: $clr-white;
}
.infinite-photo p {
  margin-bottom: 0;
  color: $clr-white;
}
.infinite-user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.infinite-photo-info {
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  left: 0;
  background-color: $clr-black;
  color: white;
  transform: translateY(100%);
  transition: $transition;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infinite-photo:hover .infinite-photo-info {
  transform: translateY(0);
}
@media screen and (min-width: 576px) {
  .infinite-photos-center {
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
  }
  .search-form {
    max-width: var(--fixed-width);
  }
}

.infinite-loading {
  text-align: center;
  padding: 3rem;
}
