*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-theme {
  $clr-white: #000;
  $clr-black: #fff;
  $clr-tint: #798dff;
}

.light-theme {
  $clr-white: #fff;
  $clr-black: #000;
  $clr-tint: #f2ff79;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overscroll-behavior-y: none;
  font-family: $font-secondary, sans-serif;
  line-height: 1.8;
  font-size: 0.875rem;
  font-weight: 100;

  .dark-theme {
    background-color: #000;
    color: #fff;
  }
}
ul {
  list-style-type: disc;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: $font-primary, sans-serif;
  font-weight: 600;
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 0.8;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: clamp(5rem, 7vw, 7rem);
}
h2 {
  font-size: clamp(3rem, 4vw, 4rem);
}
h3 {
  font-size: clamp(2rem, 3vw, 3rem);
}
h4 {
  font-size: clamp(1.8rem, 2vw, 2rem);
}
p {
  font-family: $font-secondary, sans-serif;
  font-weight: 100;
  margin-bottom: 1.25rem;
}
