*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark-theme {
  $clr-white: #000;
  $clr-black: #fff;
  $clr-tint: #798dff;
}

.light-theme {
  $clr-white: #fff;
  $clr-black: #000;
  $clr-tint: #f2ff79;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overscroll-behavior-y: none;
  font-family: $font-secondary, sans-serif;
  line-height: 1.8;
  font-size: 1.6rem;
  font-weight: 100;
  color: $clr-black;

  .dark-theme {
    background-color: #000;
    color: #fff;
  }
}
ul {
  list-style-type: disc;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  letter-spacing: $spacing;
  line-height: 0.8;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: clamp(5rem, 7vw, 7rem);
}
h2 {
  font-size: clamp(4rem, 6vw, 6rem);
}
h3 {
  font-size: clamp(3rem, 4vw, 4rem);
}
h4 {
  font-size: clamp(2rem, 3vw, 3rem);
}
h5 {
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
}
p {
  font-family: $font-secondary, sans-serif;
  font-weight: 100;
  font-size: 1.6rem;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
