/*
=============== 
Variables
===============
*/

@import "../../styles/variables";

/*
=============== 
Grid Styles
===============
*/

.hor-group-snap-main-container {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clr-black;
}

.hor-group-snap-gallery {
  margin: 0;
}

.hor-group-snap-media-scroller {
  transform: rotate(-90deg);
  width: 100vh;
  height: 100vw;
  display: grid;
  grid-template-columns: 100vh;
  grid-auto-flow: row;
  grid-auto-rows: 40vw;
  place-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-inline: contain;

  @media screen and (min-width: 992px) {
    grid-auto-rows: minmax(25vw, 35vw);
  }
}

// .hor-group-snap-inline {
//   scroll-snap-type: both mandatory;

//   & > * {
//     scroll-snap-align: start end;
//   }
// }

.hor-group-snap-img-container {
  transform: rotate(90deg);
  height: 100vh;
  width: 40vw;
  display: grid;
  place-items: center;

  .hor-group-snap-img {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: 992px) {
    width: 25vw;
    transition: 1s;

    &:hover {
      width: 35vw;
      transition: 1s;
    }
  }
}

/*
=============== 
Type styles
===============
*/

.hor-group-snap-user-name {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-align: left;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  opacity: 100%;
  transition: opacity 0.3s linear;

  h1 {
    color: $clr-white;
    font-weight: 100;
    font-size: clamp(2rem, 3vw, 3rem);
  }

  &:hover {
    opacity: 50%;
    transition: opacity 0.3s linear;
  }
}
.hor-group-snap-user-bio {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-items: flex-end;
  z-index: 2;

  h4 {
    color: $clr-white;
    font-weight: 100;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  }
}

.hor-group-snap-info {
  position: absolute;
  bottom: 0;
  height: 30vh;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: $clr-white;

  h3 {
    color: $clr-white;
    font-weight: 100;
  }
  p {
    color: $clr-white;
    font-family: $font-primary;
    font-weight: 100;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
  }
  .hor-group-snap-paragraph {
    color: $clr-white;
    overflow: hidden;
    height: 0;
    transition: $transition;
    &.hor-group-snap-paragraph-open {
      height: max-content;
      transition: $transition;
    }
  }
}
