/*
=============== 
Variables
===============
*/

@import "../../styles/variables";

/*
=============== 
Type styles
===============
*/

.hor-group-snap-user-name {
  position: absolute;
  top: 1rem;
  left: 1rem;
  text-align: left;
  display: flex;
  align-items: flex-end;
  z-index: 1;
  opacity: 100%;
  transition: opacity 0.3s linear;

  h1 {
    color: $clr-white;
    font-weight: 100;
    font-size: clamp(2rem, 3vw, 3rem);
  }

  &:hover {
    opacity: 50%;
    transition: opacity 0.3s linear;
  }
}
.hor-group-snap-user-bio {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-items: flex-end;
  z-index: 2;

  h4 {
    color: $clr-white;
    font-weight: 100;
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  }
}

/*
=============== 
Grid Styles
===============
*/

.hor-group-snap-main-container {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clr-black;
}

.hor-group-snap-gallery {
  margin: 0;
}

.hor-group-snap-media-scroller {
  transform: rotate(-90deg);
  width: 100vh;
  height: 100vw;
  display: grid;
  grid-template-columns: 100vh;
  grid-auto-flow: row;
  grid-auto-rows: 40vw;
  place-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-inline: contain;

  @media screen and (min-width: 992px) {
    grid-auto-rows: minmax(25vw, 35vw);
  }
}

.hor-group-snap-img-container {
  position: relative;
  transform: rotate(90deg) scale(1);
  will-change: transform;
  height: 100vh;
  width: 40vw;

  .hor-group-snap-img {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    img {
      will-change: transform;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .hor-group-snap-info-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    left: 0;
    bottom: 6rem;
    width: 100%;
    height: 10rem;
    overflow: hidden;
    z-index: 200;

    .hor-group-snap-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 80%;
      margin: auto;
      color: $clr-white;
      transform: translateY(100%) scale(0.8);
      transform-origin: center;

      h3 {
        color: $clr-white;
        font-weight: 100;
      }
      p {
        color: $clr-white;
        font-family: $font-primary;
        font-weight: 100;
        font-size: clamp(1rem, 1.2vw, 1.2rem);
      }
      .hor-group-snap-paragraph {
        color: $clr-white;
      }
    }
  }

  @media screen and (min-width: 992px) {
    width: 25vw;
    transition: 1s;

    &:hover {
      transform: rotate(90deg) scale(1.3);

      .hor-group-snap-info {
        animation: text-reveal 0.4s ease-out forwards 0.3s;
      }
    }
  }
}

/*
=============== 
Keyframes
===============
*/

@keyframes text-reveal {
  0% {
    transform: translateY(100%) scale(0.8);
  }
  100% {
    transform: translateY(0) scale(0.8);
  }
}
