/*
=============== 
Variables
===============
*/

@import "../../styles/variables";

/*
=============== 
Grid Styles
===============
*/

.grid-stretch-container {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.grid-stretch-scroller {
  transform: rotate(-90deg) translateY(-100vh);
  margin: 0;
  width: 120vh;
  height: 100vw;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 50vw;
  place-items: start;
  overflow-x: auto;
  overflow-y: auto;
  overscroll-behavior-inline: contain;
}

// .grid-item-container {
//   transform: rotate(90deg);
//   height: 100vh;
//   height: 25vw;
//   border: 1px solid $clr-black;
//   transition: 0.5s;

//     &:hover {
//       min-width: 40vw;
//       transition: 0.5s;
//     }
// }

.grid-item-container {
  transform: rotate(90deg) translateY(-55vh) translateX(50vw);
  transform-origin: right top;
  height: 120vh;
  width: 50vw;
  border: 1px solid $clr-black;
  background-color: pink;

  .hor-group-snap-img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media screen and (min-width: 992px) {
    width: 25vw;
    height: 120vh;
    transition: 1s;

    &:hover {
      width: 28vw;
      transition: 1s;
    }
  }
}
